* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #008c8c;
    background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-light.png");    
}
.content
{
    background-color: #008c8c;
    background-image: url("https://www.transparenttextures.com/patterns/tactile-noise-dark.png");
    max-width: 600px;
    margin-top: 2rem;
}

label{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
@media  screen and (max-width : 230px) {
    .content-title
    {
        font-size: 2rem;
        word-wrap: break-word;
    }
}
@media screen and (max-width : 130px) {
    .content-title {
        font-size: 1rem;
        word-wrap: break-word;
    }
}